.header {
    background-color: #3b65b2;
    color: white;
    padding: 20px ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-logo {
    font-size: 1.5rem;
    color: beige;
    text-decoration: none;
    font-style: italic;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}


.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li a:hover {
    color: #032504;
    text-decoration: none;
    background-color: #f3f6f8;
    padding: 10px;
    border-radius: 10px;
}


.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
    transition: color 0.3s;
    font-weight: 800;
}

.dropdown-toggle:hover {
    color: #ffd700; 
}

.dropdown-menu {
    position: absolute;
    background-color: #3b65b2;
    list-style: none;
    padding: 5px 0;
    display: none;
    margin-top: 33px;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(-10px);
    border-radius: 10px;
}

.dropdown.active .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
    width: max-content;
}


.dropdown-menu li a {
    display: block;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
    background-color: #f3f6f8;
    margin: 10px;
    padding: 10px;
}


.dropdown-toggle::after {
    content: '\25BE'; 
    margin-left: 5px;
    transition: transform 0.3s;
}

.dropdown.active .dropdown-toggle::after {
    transform: rotate(180deg);
}


body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }

    .nav-logo {
        margin-bottom: 10px;
    }

    .nav-links {
        margin-top: 5px;
        flex-direction: column;
        gap: 5px;
        font-size: 18px;
    }

    .dropdown.active .dropdown-menu {
        transform: translateY(5px);
    }
}
