.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-contact {
    text-align: right;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}


@media screen and (max-width: 768px) {
    .footer-logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }
    .footer-contact {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}