.servicecard {
    text-align: center;
    padding-top: 30px;
}
.services-container {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
